<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='analysisstyle.css') }}">
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/analysis">Analysis</a></li>
        </ul>
    </nav>
    <header class='vidheader container'>
        <div class='fullscreenvid'>
            <video autoplay muted loop id="myVideo">
                <source src="{{ url_for('static', filename='analysis.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="headeroverlay"></div>
        <div class="buttons">
            <div class="headercontent">
                <a href="/process/India" class="btn">Time Series Analysis</a>
            </div>
            <div class="headercontent">
                <a href="/district" class="btn">District Data analysis</a>
            </div>
            <div class="headercontent">
                <a href="/graph" class="btn">District wise Plots</a>
            </div>
            <div class="headercontent">
                <a href="/regression" class="btn">Regression results</a>
            </div>
        </div>
    </header>
</body>
<script type="text/javascript"  src="{{ url_for('static', filename='app.js') }}" charset="utf-8"></script>
</html>