{% extends 'base.html' %}
{% block title %}
<title>NASA Space HAckathon</title>

{% endblock %}
{% block body %}

<section class="container text-center py-5">
  <form class="mx-auto" style="max-width: 250px;">
    <div class="form-group">
      <label for="sel2">Select State:</label>
      <select class="form-control" id="sel2" name="state">
        <option value="Select">States</option>
      </select>
    </div>
  </form>
  <form class="mx-auto" style="max-width: 250px;">
    <div class="form-group">
      <label for="sel1">Select District:</label>
      <select class="form-control" id="sel1" name="district">
      </select>
    </div>
    <button type="button" class="btn btn-info" onclick="fung()">Show</button>
  </form>
</section>

<section class="border border-primary">
  <section class="container-fluid text-center bg-faded my-4">
      This is a Bar Graph of Selected District with diffrent index<br>
  </section>
  <section class="container" id="g">
      <canvas id="disj" ></canvas>
  </section>
  </section>


<section class="py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8">
        <canvas id="a" ></canvas>
      </div>
      <div class="col-sm-4">
        <h2>Feature Importance Calculation</h2>  
        <p>
          Through this Feature Extraction technique we can find out how importan a feature is when it comes to predict an outcome. Through the results obtained we found that the population density is the most important factor in helping covid-19 growth. We found that at home actually contribute towards decreasing growth rate of covid. The places where covid spreads fastest are railway staions, airports and bus stops. We also found that the availability of potable water is also an important factor.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <div class="row">
      <div class="col-sm-4">
        <h2>Feature Importance Calculation for Mobility Factors</h2>  
        <p>
          We have also calculated the feature importances of mobility factors and found that staying at home is the major factor that determines whether a place will be hotspot or not. Apart from that railway stations, airports and bus stops are major contributors followed by parks and workplaces. So if lockdown is lifted at your place, try not to visit railway stations or bus stops.
        </p>
      </div>
      <div class="col-sm-8">
        <canvas id="b" ></canvas>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <div class="row">
      <div class="col-sm-8">
        <canvas id="c" ></canvas>
      </div>
      <div class="col-sm-4">
       <h2>Univariate Selection</h2>
       <p>
         This is also a feature extraction technique and the feature scores are calculated during this process. This algorithm also suggests that population density is the major contributor followed by staying at home. This algorithm also suggests that water accessibility is related to covid growth.
       </p>
      </div>
    </div>
  </div>
  <div class="container text-center py-5">
    <div class="row">
      <div class="col-sm-4">
        <h2>Univariate Selection for Mobility Factors</h2>
        <p>
          We did Univariate Selection for mobility factors and this algorithm suggests that staying at home is the most important factor followed by railways, buses and planes. 
        </p>
      </div>
      <div class="col-sm-8">
        <canvas id="d" ></canvas>
      </div>
    </div>
  </div>
</section>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='s2.js') }}"></script>
{% endblock %}
